<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCQvdZ9Yre7sFv1UJpwpY0pdxYqV4t3YxU</string>
	<key>GCM_SENDER_ID</key>
	<string>121427412594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Sir.Math</string>
	<key>PROJECT_ID</key>
	<string>wrtext-97e5c</string>
	<key>STORAGE_BUCKET</key>
	<string>wrtext-97e5c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121427412594:ios:8755c5622604770f4824eb</string>
</dict>
</plist>